.Service{ 
  border-width:1px;
  border-style:solid;
  border-color:black;
  width: 400px;
  height: 70px;
  padding: 10px;
}

p{
  font-family: Arial;
  font-weight: bold;
  margin: 0px;
  padding: 0px;
}

button{
  margin-top: 15px;
  cursor: pointer;
}